# /etc/systemd/system/plex_autoscan.service

[Unit]
Description=Plex Autoscan
After=network-online.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/opt/plex_autoscan/
ExecStart=/app/scan.py server --loglevel=INFO
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
